.a{
    color: white;
    
}

.a:hover {
    /* border-bottom: 1px; */
    /* border-style: solid; */
    background-color: beige;
    transition: 0.3s;
}

.title{
    display: block;
    color: beige;
    padding-right: 15px;
    padding-top: 8px;
    cursor: context-menu;
}

a {
    text-decoration: none;
}