.name{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

p{
    font-family: sans-serif;
}
/* only screen and (max-width: 1399.98px) and */
/* @media  (min-width: 570px) and (max-width: 770px) {
    .projectImg{
        display: flex;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin: auto;
    }
} */

.projectImg{
    display: flex;
    height: 160px;
    width: 200px;
    margin: 10px auto;
}



.projectDiv{
    display: block;
    margin: 40px auto;
    padding: 15px;
    border: 2px solid #778899;
    border-radius: 20px;
    font-family: sans-serif;
}

.projectDiv:hover{
    .projectImg{
        border: 2px solid white;
    }
    color: aliceblue;
    background-color: #778899;
}

.projectBtn1{
    margin-left: auto;
    margin-right: 0;
    padding: 8px;
    border: 0px;
    border-radius: 20px;
    background-color: blueviolet;
    color: aliceblue;
}
.projectBtn2 {
    font-size: 12px;
    /* margin-left: 70px; */
    padding: 8px;
    border: 0px;
    border-radius: 20px;
    background-color: #ADD;
    color: black;
}
.projectBtn1:hover{
    background-color: #ADD;
    color: black;
}
.projectBtn2:hover{
    background-color: blueviolet;
    color: aliceblue;
}

#iframe{
    display: block;
    margin: auto;
}

.dsa{
    cursor: pointer;
    color: black;
}

form{
    padding: 50px;
    font-family: sans-serif;
    margin: 25px 50px 75px 100px;
    justify-content: center;
}
