.name{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

p{
    font-family: sans-serif;
}

#iframe{
    display: block;
    margin: auto;
}

.dsa{
    cursor: pointer;
    color: black;
}

form{
    padding: 50px;
    font-family: sans-serif;
    margin: 25px 50px 75px 100px;
    justify-content: center;
}
